body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    margin: 0;
}

.header,
#links,
.block1,
.block2,
#main,
#information,
#cta {
    display: flex;
}

#top {
    background-color: #1F2937;
    color: white;
    padding-bottom: 86px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

#links {
    gap: 16px;
}

#logo {
    font-weight: bold;
    font-size: medium;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;;
}

.block1 {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

#main {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 400px;
    padding: 0;
}

#main-text {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 15px;
    padding: 0;
    margin: 8px 0;
}

#img0 {
    background: #b3b3b3;
    height: 200px;
    flex-basis: 450px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 700;
    font-size: medium;
}

.block2 {
    text-align: center;
    margin: 8px 220px;
    flex-direction: column;
    padding-bottom: 100px;
}

.container {
    padding: 0 32px;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
}

.illustration {
    border: 3px solid #3882f6;
    border-radius: 5px;
}
