@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General & grouped styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', "Open Sans", sans-serif;
    margin: 0;
}

.header,
#top,
#links,
.block1,
.block2,
#main,
#information,
#cta {
    display: flex;
}

.header,
.block1 {
    padding: 8px 200px;
}

#main {
    padding: 8px 32px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 700;
    font-size: medium;
}

button:active {
    color: #3882f6;
    background-color: white;
}

/* top, containing block1 */
#top {
    background-color: #1F2937;
    color: white;
    padding-bottom: 86px;
    flex-direction: column;
    justify-content: center;
}

.header {
    justify-content: space-between;
    align-items: center;
}

#links {
    gap: 24px;
}

#logo {
    font-weight: bold;
    font-size: medium;
}

#icon {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;;
}

.block1 {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

#main {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 400px;
    padding: 0;
}

#main-text {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 15px;
    padding: 0;
    margin: 8px 0;
}

#img0 {
    height: 250px;
    flex-basis: auto;
    display: flex;
}

/* block2 */
.block2 {
    text-align: center;
    margin: 8px 220px;
    flex-direction: column;
    padding-bottom: 100px;
}

#information {
    align-items: center;
    justify-content: center;
    gap: 46px;
}

.container {
    padding: 0 0;
    display: flex;
    flex-direction: column;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
}

.illustration {
    border: 4px solid #3882f6;
    border-radius: 5px;
    width: 150px;
}

.subtext {
    width: 150px;
    margin-top: 8px;
}

/* block3 */
.block3 {
    background-color: #e5e7eb;
    padding: 100px 260px;
    margin: 0;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 8px;
}

#quote-ref {
    display: flex;
    justify-content: end;
    font-weight: bold;
    margin: 0;
    padding-right: 32px;
    font-size: 22px; 
}

/* block4 & footer*/
#cta {
    background-color: #3882f6;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 32px 120px;
    margin: 100px 150px;
}

#cta-heading {
    margin: 0;
    padding-top: 16px;
    font-size: 22px;
    font-weight: 700;
}

#cta-subtext {
    margin: 0;
    padding-bottom: 16px;
    color: #e5e7eb;
}

#button2 {
    border: 2px solid white;
}

.footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 32px 16px;
}

/* Smaller screens */

@media (max-width: 1200px) {
    .header,
    .block1 {
            padding: 8px 16px;
        }

    .block1 {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    #img0 {
        margin-top: 12px;
    }

    .block2 {
        margin: 16px 0;
        padding: 0;
    }

    #information {
        flex-wrap: wrap;
    }

    .block3 {
        padding: 64px 42px;
    }

    #cta {
        margin: 64px 36px;
        padding: 8px 36px;
    }
}

@media (max-width: 850px) {
    .header,
    .block1 {
            padding: 8px 16px;
        }

    .block1 {
        margin-top: 18px;
        margin-bottom: 18px;
        flex-wrap: wrap;
    }

    #main {
        flex-basis: auto;
    }

    #main-text {
        font-size: x-large;
    }

    #img0 {
        margin-top: 12px;
    }

    .block2 {
        margin: 16px 0;
        padding: 0;
    }

    #info-header {
        font-size: x-large;
    }

    #information {
        flex-wrap: wrap;
    }

    .block3 {
        margin-bottom: 32px;
    }

    #quote-text {
        font-size: x-large;
    }

    #quote-ref {
        font-size: small;
    }

    #cta {
        margin: 32px;
        padding: 8px 24px;
    }

    .footer {
        font-size: small;
        margin-top: 32px;
        padding: 18px;
    }
}

@media (max-width: 650px) {
    .header,
    .block1 {
            padding: 8px 16px;
        }

    #links {
        gap: 24px;
    }

    a,
    #logo,
    #icon {
        font-size: small;
    }

    .block1 {
        margin-top: 18px;
        margin-bottom: 18px;
        flex-wrap: wrap;
    }

    #main {
        flex-basis: auto;
    }

    #main-text {
        font-size: x-large;
    }

    #img0 {
        margin-top: 12px;
    }

    .block2 {
        margin: 16px 0;
        padding: 0;
    }

    #info-header {
        font-size: x-large;
    }

    #information {
        flex-wrap: wrap;
    }

    .block3 {
        padding: 64px 42px;
        margin-bottom: 32px;
    }

    #quote-ref {
        font-size: small;
    }

    #cta {
        flex-wrap: wrap;
        margin: 8px 8px;
        padding: 8px 8px;
    }

    #button2 {
        border: 1px solid white;
    }

    .footer {
        font-size: small;
        padding: 18px;
        margin-top: 32px;
    }
}

@media (max-width: 460px) {
    .header,
    .block1 {
            padding: 8px 16px;
        }

    a,
    #logo,
    #icon {
        font-size: x-small;
    }

    #links {
        gap: 8px;
    }

    .block1 {
        margin-top: 18px;
        margin-bottom: 18px;
        flex-wrap: wrap;
    }

    #main {
        flex-basis: auto;
    }

    #main-text {
        font-size: x-large;
    }

    #img0 {
        height: 165px;
        width: auto;
        margin-top: 12px;
    }

    .block2 {
        margin: 16px 0;
        padding: 0;
    }

    #info-header {
        font-size: x-large;
    }

    #information {
        flex-wrap: wrap;
    }

    .block3 {
        padding: 42px 24px;
    }

    #quote-ref {
        font-size: small;
    }

    #cta {
        flex-wrap: wrap;
        margin: 16px 8px;
        padding: 16px 8px;
    }

    #button2 {
        border: 1px solid white;
    }

    .footer {
        font-size: small;
        padding: 18px;
    }
}