/* General & grouped styles */
body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    margin: 0;
}

.header,
#links,
.block1,
.block2,
#main,
#information,
#cta {
    display: flex;
}

.header,
.block1 {
    padding: 8px 200px;
}

#main {
    padding: 8px 32px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 700;
    font-size: medium;
}

/* top, containing block1 */
#top {
    background-color: #1F2937;
    color: white;
    padding-bottom: 86px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

#links {
    gap: 16px;
}

#logo {
    font-weight: bold;
    font-size: medium;
}

#icon {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;;
}

.block1 {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

#main {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 400px;
    padding: 0;
}

#main-text {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 15px;
    padding: 0;
    margin: 8px 0;
}

#img0 {
    height: 250px;
    flex-basis: auto;
    display: flex;
}

/* block2 */
.block2 {
    text-align: center;
    margin: 8px 220px;
    flex-direction: column;
    padding-bottom: 100px;
}

.container {
    padding: 0 32px;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
}

.illustration {
    border: 3px solid #3882f6;
    border-radius: 5px;
}

/* block3 */
.block3 {
    background-color: #e5e7eb;
    padding: 100px 260px;
    margin: 0;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

#quote-ref {
    display: flex;
    justify-content: end;
    font-weight: bold;
    margin: 0;
    padding-right: 32px;
    font-size: 22px; 
}

/* block4 & footer*/
#cta {
    background-color: #3882f6;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 32px 120px;
    margin: 100px 150px;
}

#cta-heading {
    margin: 0;
    padding-top: 16px;
    font-size: 22px;
    font-weight: 700;
}

#cta-subtext {
    margin: 0;
    padding-bottom: 16px;
    color: #e5e7eb;
}

#button2 {
    border: 2px solid white;
}

.footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 32px 16px;
}